
/*haut de page */
html,body{margin:0; padding:0;} 

/*image du haut*/
#banderole{height:300px;background-image: url(tech-test.jpg); background-repeat: no-repeat;  background-position: center; margin-bottom:0px;}

#alignetexte{padding-top:90px;text-align:center; height:200px;width:80%; margin:0 auto;overflow: hidden;}
#alignetexte p{color:white; font-size:400%;font-family: 'Playfair Display', serif;}

.menu{display:inline-block; }
.menu:hover{display:inline-block; }

/* les onglets */
#menu li>a{display:inline-block;text-decoration: none; color:white;font-family: 'Playfair Display', serif; padding-right:40px;padding-left: 40px; border: solid 2px white; padding-top:3px; padding-bottom:3px; margin:0 10px;margin-bottom:15px;border-radius: 5px; background-color: #007CE1;}
/*quand l'utilisateur passe la souris sur un onglet*/
#menu li>a:hover{text-decoration: none;font-family: 'Playfair Display', serif;padding-right:40px;padding-left: 40px; border: solid 2px white; padding-top:3px; padding-bottom:3px; margin: 0 10px;margin-bottom:15px;border-radius: 5px; background-color: white;color: #007CE1;text-decoration:underline;} 
#menu{background-color:#074685; margin:0 0;margin-top:45px;height:35px;overflow: hidden; padding-top:10px;padding-bottom:45px}
/*le bas de page*/
#bas{background-color:black;height:200px;}
#bas>div{width: 60%;margin:0 auto;padding-top: 50px;}
#bas>div li {color:white;font-size:12px; font-family:'Playfair Display', serif;list-style-type: none;padding-bottom: 15px;}
#bas>div>ul{padding:0px; margin-bottom:0px;}
/*logo du campus */
#logoc{width:80px;height:80px;float:right;margin-top:-120px; opacity: 0.5;}
/*logo du linkedin*/
#réseausoc{width:25px;height:25px;}

/* est là uniquement pour créer des espace entre les div*/
.separation{height: 50px; opacity:0;}
/*est appelé a chaque fois qu'il faut supprimer des float */
.clear{clear:both;}
/*contenu sur fond bleu uni*/
#contenu{width:80%; margin:0 auto;background-color:#074685;margin-bottom:-17px; box-shadow: 10px 0px 10px -7px #074685,-10px 0px 10px -7px #074685;}
/*fond avec le dégradé*/
#fond{background: linear-gradient(to bottom right, white, #6171ff);padding-top: 50px;}

/*la présentation avec la photo et le texte ainsi que le titre */
#présentation{width: 60%;background-color:#074685;float:right;}
#présentation p{text-align: center;color:white;font-family: 'Open Sans', sans-serif;font-size:16px;width:50%;width:100%;padding-top:50px;}
#présentation h2{font-size: 60px;text-decoration:underline;text-align: center;color:white;font-family: 'Playfair Display', serif;width:50%;width:100%;Padding-top:50px;}
#photopres img{width:8em;height:10em; margin-top: 160px;margin-left:10%; border:solid 10px orange}
#photopres {width:70%; text-align:center;}
/*le paragraphes objectifs avec le titre le paragraphe*/
#objectif p+p{text-align: center;color:white;font-family: 'Open Sans', sans-serif;font-size:16px;width:50%;width:100%;padding-top:50px;text-decoration:none;}
#objectif p{font-size: 60px;text-decoration:underline;text-align: center;color:white;font-family: 'Playfair Display', serif;width:50%;width:100%;Padding-top:50px;}
/*div du cv plus le bouton*/
#cv img{width: 15em; height: 20em; border:solid 10px orange;}
#cv{width:50%;margin-right:auto;margin-left:auto;text-align:center;}
#cv a{margin-top:20px;}

