

@media all and (max-width: 900px){
 
#texte{width:60%;float:none;}
#image{width:40%;float: none;}
#tomate{width:300px;height:201.4px;float:none;}
#entrepôt{width:150px;height:100px;float:none;margin-right:5px;margin-bottom:5px;}
#expéditeur{width:150px;height:101.6px;float:none;}
#commande{width:305px;height:203.57px;float:none; margin-bottom:50px;}
#deuxièmepartie{width:60%; float:none;}
#partieimage2{width:40%;float:none;padding-top:50px;padding-bottom:15px;}
  }