/*haut de page */
html,body{margin:0; padding:0;} 

/*image du haut*/
#banderole{height:300px;background-image: url(imageSite/tech-test.jpg); background-repeat: no-repeat;  background-position: center; margin-bottom:0px;}

#alignetexte{padding-top:90px;text-align:center; height:200px;width:80%; margin:0 auto;overflow: hidden;}
#alignetexte p{color:white; font-size:400%;font-family: 'Playfair Display', serif;}

#menu2{text-align: center;}
.menu{display:inline-block;}
/* les onglets */
#menu li>a{display:inline-block;text-decoration: none; color:orange;font-weight: bold; font-family: 'Playfair Display', serif; padding-right:40px;padding-left: 40px; border: solid 2px orange; padding-top:3px; padding-bottom:3px; margin:0 10px;margin-bottom:15px;border-radius: 5px; background-color: #074685;}
/*quand l'utilisateur passe la souris sur un onglet*/
#menu li>a:hover{text-decoration: none;font-weight: bold;font-family: 'Playfair Display', serif;padding-right:40px;padding-left: 40px; border: solid 2px orange; padding-top:3px; padding-bottom:3px; margin: 0 10px;margin-bottom:15px;border-radius: 5px; background-color: orange;color: #074685;text-decoration:underline;} 
#menu{background-color:#074685; margin:0 0;margin-top:45px;height:35px;overflow: hidden; padding-top:10px;padding-bottom:45px;}