
/*le bas de page */
#bas{background-color:black;height:200px;}
#bas>div{width: 60%;margin:0 auto;padding-top: 50px;}
#bas>div li {color:white;font-size:12px; font-family:'Playfair Display', serif;list-style-type: none;padding-bottom: 15px;}
#bas>div>ul{padding:0px; margin-bottom:0px;}
#logoc{width:80px;height:80px;float:right;margin-top:-120px; opacity: 0.5;}
#réseausoc{width:25px;height:25px;}

/* les fond classiques*/
#contenu{width:80%; margin:0 auto;background-color:#074685;margin-bottom:-17px; box-shadow: 10px 0px 10px -7px #074685,-10px 0px 10px -7px #074685;}
#fond{background: linear-gradient(to bottom right, white, #6171ff);padding-top: 50px;}

.separation{height: 50px; opacity:0;}
.clear{clear:both;}
/*tout ce que contient la div formulaire */
#formulaire{width:70%; margin-left:auto;margin-right:auto;text-align:center;}
/*les textes du formulaire*/
.recom{color:white;font-family: 'Open Sans', sans-serif;}

/*toutes les recommandations sont disponible en scrollant */
#touteslesrecom{height:500px; overflow: scroll;}
/*les recommandations */
.liste-avis{width:50%;color:white;margin:0 auto;}
.liste-avis >h1 {font-size: 20px; margin-left: 3%;}
.liste-avis >p {font-size: 12px; background-color:#eeeeee;border: 2px solid orange;margin-left:20px; color:black;}